/* ========= Common styles =========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    font-family:'Roboto', sans-serif;
    color:#434455;
    background-color: #fff;
}

img {
    display: block;
}
a{
    text-decoration: none;
}
ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}
button{
    cursor: pointer;
}

    /* ========= /Common styles =========*/

    /* ========= Page Headder styles =========*/
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.heared-container {
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.logo-part {
color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus{
    color: #404bbf
}

/* ========= /Page Headder styles =========*/

/* ========= Hero Page styles =========*/
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-page{
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.headline-hone {
    margin-bottom: 48px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.btn-one {
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer; href=""
}
.btn-one:hover,
.btn-one:focus {
    background: #404bbf;
}
/* ========= /Hero Page styles =========*/

/* ========= Section 2 styles =========*/|
.feature-page {
    background-color: #fff;
}
.fpc {
    padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
    list-style: none;
}
.list-ff {
    display: flex;
    gap: 24px;
}
.item {
     width: calc((100% - 72px) / 4 )
}
.list-ff .item {
    max-width: 264px;
}
.text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ========= /Section 2 styles =========*/



/* ========= Section 3 Our Team styles =========*/
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.item-list {
    display: flex;
    gap: 24px;
}
.card-discription {
    padding: 32px 0;
}
.title-staff {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.paragraph-sthree {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.staff-card {
    background: #fff;
    width: calc((100% - 72px) / 4 );
    border-radius: 0 0 4px 4px;
}


.section-img {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}


/* ========= /Section 3 Our Team styles =========*/

/* ========= Section 4 Our Portfolio =========*/
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.menu-portfolio-item {
    width: calc((100% - 48px) / 3 );
}
.information-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.h-op {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.h-four-our-portfolio {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.paragraph-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ========= /Section 4 Our Portfolio =========*/

/* ========= Footer styles =========*/

.ground {
    background: #2e2f42;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-ground {
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-block {
    display: inline-block;
}
.logo-ground-part{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.text-ground {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* ========= /Footer styles =========*/